/* style.css */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  padding: 40px;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; /* مسافة متساوية بين الكروت */
}

.card {
  background-color: white;
  width: 360px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.card-top {
  padding: 10px 15px;
  background-color: #fff;
}

.card-meta {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #555;
}

.card-meta i {
  color: teal;
  margin-right: 5px;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.read-more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* تغطية شفافة */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}


.card:hover .read-more {
  opacity: 1;
}
.profile-img {
  position: absolute;
  top: 50%;
  right: 0%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
  z-index: 3; /* أعلى من .read-more */
}

.card-content {
  padding: 40px 20px 20px;
}

.card-content h3 {
  color: #00bcd4;
  font-size: 16px;
  margin-bottom: 5px;
}

.underline {
  width: 40px;
  height: 3px;
  background: #333;
  margin-bottom: 15px;
}

.card-content p {
  font-size: 14px;
  color: #444;
  line-height: 1.6;
}